/* Highlight color in top nav */
span.logo-color { color: #009688; }

/* Floating (beta) alert */
.alert-floating {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9999;
  text-align: center;
}
.alert-floating .alert { margin: 0px; }
.alert-floating .alert a { color: #444; }
.alert-floating .alert-dismissible .close { position: initial; }

/* Custom article_list formatting */
.article-list article h2 {
  margin-top: 0px;
  font-size: 25px;
}
.article-list article {
  padding: 5px;
}
.article-list article .wrapper {
  vertical-align: top;
  overflow: hidden;
  padding: 10px;
  max-height: 16em;
  border-bottom: 2px solid #eee;
}
.article-list a article .wrapper:hover {
  border-bottom: 2px solid #004a43;
}
.article-list a article p {
  color: black;
}
.article-list a article .btn {
  display: none;
}

/* Search results */
.container #tipue_search_input {
  width: 100%;
}
.container .tipue_search_content_title a {
  color: #009688;
}
.container .tipue_search_content_title a:hover {
  color: #004a43;
}
.container .tipue_search_content_url a {
  color: #aaa;
}
#tipue_search_foot_boxes li a.tipue_search_foot_box {
  cursor: pointer;
}
#tipue_search_foot_boxes li a.tipue_search_foot_box:hover {
  background-color: #00635a;
  border-color: #00635a;
  color: white;
}

/* Hide first level of TOC */
#toc { clear: both; margin-bottom: 1em; }
#toc > ul { margin: 0px }
#toc > ul > li { list-style: none }
#toc > ul > li > a { display: none }

/* Wizard microapp */
#wizard {
  border: 1px solid #aaa;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
  display: inline-block;
  margin-bottom: 2em;
}

/* Category banner at top of article.html */
.entry-summary { font-weight: 600; }
.article-list .category-banner {
  width: 100%;
  height: 256px;
  margin: 0px;
}
.page-library .article-list .category-banner {
  height: 128px;
}
.page-library .article-list h2 {
  margin-top: 1em;
}
.category-banner {
  float: left;
  margin-right: 20px;
  display: inline-block;
  width: 128px; height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.category-banner.category-identify { background-image: url(/theme/ogdch/category-identify.png); }
.category-banner.category-establish { background-image: url(/theme/ogdch/category-establish.png); }
.category-banner.category-publish { background-image: url(/theme/ogdch/category-publish.png); }
.category-banner.category-support { background-image: url(/theme/ogdch/category-support.png); }
.category-banner.category-library { background-image: url(/theme/ogdch/category-library.png); }

.category-next { float: right; }
.category-next .category-banner { margin: 0px; }
.category-next h5 { text-align: center; }
.category-next h5 span {  color: black; }

/* Article information texts */
.please-contribute.alert { text-align: right; }
.please-contribute.alert em { font-size: 87%; opacity: 0.7; }

/* Styles for library articles */
.library-info {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.library-info .label-default {
  border: none;
}

.print-view .entry-summary {
  border-bottom: 1px solid #aaa;
  padding: 1em 0;
  margin: 1em 0;
}

/* Action buttons for articles */
.post-info .article-actions {
  float: right;
}

/* Checklists */
checkbox { cursor: pointer; }
checkbox.active .fa { color: #009688; }

/* Tag lists */
tags .btn-sm, .tags .btn-sm {
  font-weight: normal;
  border: 1px solid #eee;
  background: #fafafa;
  margin-bottom: 0.3em;
  color: #444;
}
tags .btn-sm:hover, .tags .btn-sm:hover { color: #009688; }

/* Ensure links are readable on splash page */
.front-header .lead a { color: white; }
.front-header .lead a:hover { text-decoration: underline; }

/* Clear backgrond image on front page */
.front-header .container {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Topic map on front page */
.topicmap .col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.topicmap .category-icon:before,
.topicmap .category-icon:after {
  content:'';
  display: inline-block;
  width:40px;
  height:40px;
  background: url(/theme/ogdch/arrow-white.png) no-repeat top left;
}
.topicmap .category-icon:after {
  background-position: top right;
  float: right;
}
.topicmap a:hover .category-icon {
  background-color: #009688;
}
.topicmap .category-icon {
  background-color: #9bcdc3;
  display: block;
  color: white;
  font-size: 28px;
  height: 40px;
  width: 100%;
  margin-bottom: 0.4em;
  margin-left: -0.5em;
}
.topicmap .category-icon i {
  position: relative;
  top: -10px;
  left: -20px;
}
.topicmap .category-icon img {
  height: 24px;
  position: relative;
  top: -13px;
  left: -20px;
}
.topicmap .category-title {
  font-size: 165%;
  font-weight: bolder;
  margin-left: 10px;
}
.topicmap .category-subheading {
  font-weight: bold;
  font-size: 83%;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  margin-left: 10px;
}
.topicmap ul {
  list-style: none;
  padding: 10px;
}
.topicmap li {
  line-height: 1.1em;
  margin-bottom: 1.0em;
}

/* Fix mobile wide inline images */
img { max-width: 100%; }

/* Fix mobile handbook logo */
@media (max-width: 992px) {
  #main-navigation .navbar-brand {
      max-width: 80%;
  }
  #main-navigation .navbar-brand img {
      width: 100%;
  }
  .front-header .headline {
    margin: 0px; height: 0px;
  }
}

/* Fix beta link */
@media (min-width: 1024px) {
  #main-navigation .navbar-right.alert {
    margin-top: -4.5em;
  }
}

/* Page-specific styles --- */
.article-glossary .entry-content p {
  margin-left: 2em;
  margin-right: 2em;
}
/* --- Page-specific styles */
