{% extends "article.html" %}

{% block breadcrumbs %}
  	<header class="page-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
            {% if DISPLAY_BREADCRUMBS %}
  					<ol class="breadcrumb">
              <li class="item-home"><a class="bread-link bread-home" href="{{ SITEURL }}/pages/index" title="{{ SITENAME }}">{{ SITENAME }}</a></li>
							<li class="item-2 active"><a href="{{ SITEURL }}/category/library">{% trans %}Library{% endtrans %}</a></li>
  					</ol>
            {% endif %}
  					<h1>
  						{% if article.title %}
  							{{ article.title }}
  						{% elif not HIDE_SITENAME %}
  							{{ SITENAME }}
  		        {% endif %}
  					</h1>
  				</div>
  			</div>
  		</div>
  	</header>
{% endblock %}

{% block content %}
    <section id="content" class="body">
        <article>
            <ul class="resource-list list-unstyled">
              {% include 'ogdch/downloads.html' %}
            </ul>
            <div class="panel library-info">
                <div class="panel-body">
                  {% include 'ogdch/article_info.html' %}
                </div>
            </div>
            {% if article.toc %}
              {{article.toc}}
            {% endif %}
            <div class="entry-content">
              {{ article.content }}
            </div>
            <!-- /.entry-content -->
            {% include 'includes/related-posts.html' %}
            {% include 'includes/series.html' %}
            {% include 'includes/addthis.html' %}
            {% include 'includes/shariff.html' %}
            {% include 'includes/comments.html' %}
        </article>
    </section>
{% endblock %}
