{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block meta %}
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}
{% block opengraph %}
    {% if OPEN_GRAPH_FB_APP_ID %}
        <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
    <meta property="og:description" content="{{ page.summary|striptags|escape }}" />
    {% if page.og_image %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ page.og_image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}

{% block breadcrumbs %}
  	<header class="page-header front-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-7">
						{% if page.title %}
							<h2>{{ page.title }}</h2>
						{% elif not HIDE_SITENAME %}
							<h1>{{ SITENAME }}</h1>
		        {% endif %}
            {% if page.summary %}
              <div class="lead">{{ page.summary }}</div>
            {% endif %}
            {% if START_READING_ENABLED %}
              <a class="btn btn-default-inverted" href="/category/identify" role="button">
                {% trans %}Start reading{% endtrans %}</a>
            {% endif %}
  				</div>
          <div class="col-md-5 text-md-right text-xs-center">
  					<div class="headline">
  						<div id="opendata-count" style="font-size: 98.4211px;">&nbsp;</div>
  						<div class="title">&nbsp;</div>
  					</div>
            {% if 'tipue_search' in PLUGINS %}
              <form class="navbar-search" role="search" action="{{ SEARCH_URL | default('/search.html') }}"  onsubmit="return (this.elements['q'].value.length > 0)">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-lg" name="q" placeholder="{% trans %}Search topics...{% endtrans %}" id="q" required>
                  <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                </div>
              </form>
            {% endif %}
            <a class="btn btn-default-inverted btn-lg" href="{{ SITEURL }}/category/identify" role="button">
              {% trans %}Start reading{% endtrans %}</a>
            &nbsp;
            <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/category/library" role="button">
              <i class="fa fa-book"></i>
              {% trans %}Library{% endtrans %}</a>
            <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/library/glossary" role="button">
              <i class="fa fa-puzzle-piece"></i>
              {% trans %}Glossary{% endtrans %}</a>
          </div>
  			</div>
  		</div>
  	</header>
{% endblock %}

{% import 'ogdch/render_categories.html' as render_categories with context %}

{% macro list_articles(articles) %}
  <ul class="list_articles">
    {% for article in articles %}
      {% if not article.hidden %}
        <li>
          <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <div class="row topicmap">
    {% for category_name in ["identify", "establish", "publish", "support"] %}
    <div class="col-md-3">
      <a href="{{ SITEURL }}/category/{{ category_name }}">
        <div class="category-icon">
          {{ render_categories.icon_for(category_name) }}
        </div>
        <div class="category-title">
          {{ render_categories.translations_for(category_name) }}
        </div>
      </a>
      <p class="category-subheading">
        {{ render_categories.subheading_for(category_name) }}
      </p>
      {% for category, articles in categories %}
        {% if category|trim|lower == category_name %}
          {{ list_articles(articles) }}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <section id="content" class="body">
      <div class="entry-content">
        {{ page.content }}

        {% if page.comments == 'enabled' %}
            {% include 'includes/comments.html' %}
        {% endif %}
      </div>
  </section>
{% endblock %}
