{% extends "page.html" %}

{% macro list_documents(articles) %}
  {% for article in articles %}
    {% if not article.hidden %}
    <a href="{{ SITEURL }}/{{ article.url }}">
      <article>
        <div class="wrapper">
          <i class="fa fa-file-text-o"></i>
          &nbsp;
          {{ article.title }}
        </div>
      </article>
    </a>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% import 'ogdch/render_categories.html' as render_categories %}

{% block content %}
    <section id="content" class="body">
      <div class="entry-content">
        {{ page.content }}
      </div>
    </section>

    {% for category in ["Identify", "Establish", "Publish", "Support", "Library"] %}
    <div class="row article-list">
      <div class="col-md-1">
        <div class="wrapper">
          <span class="category-banner category-{{ category|lower }}"></span>
        </div>
      </div>
      <div class="col-md-11">
        <h2>
          {{ render_categories.translations_for(category) }}
        </h2>
        {% for tag, articles in tags %}
          {% if tag|trim|lower == category|lower %}
            {{ list_documents(articles) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

{% endblock %}
