Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP:Accept-Language} ^de [NC]
RewriteRule ^$ /de/pages/index [L,R=301]

RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ /fr/pages/index [L,R=301]

RewriteCond %{HTTP:Accept-Language} ^it [NC]
RewriteRule ^$ /it/pages/index [L,R=301]

RewriteRule ^/de/$ /de/pages/index [L,R=301]
RewriteRule ^/fr/$ /fr/pages/index [L,R=301]
RewriteRule ^/it/$ /it/pages/index [L,R=301]
RewriteRule ^/en/$ /en/pages/index [L,R=301]

# Default language: English
RewriteRule ^$ /en/pages/index [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

Options ExecCGI Includes IncludesNOEXEC SymLinksIfOwnerMatch
