{% if article.link_pdf %}
<li class="resource-item">
  <small><span class="label label-default" title="application/zip">APPLICATION/PDF</span></small>
  <a class="heading" href="{{ article.link_pdf }}">
    {% trans %}Paper{% endtrans %}
  </a>
  <div class="actions pull-left hidden-sm hidden-xs">
      <a href="{{ article.link_pdf }}" class="btn btn-primary btn-xs" role="button" target="_blank">
        <i class="fa fa-arrow-circle-o-down"></i> {% trans %}Download{% endtrans %}
      </a>
  </div>
</li>
{% endif %}
{% if article.link_doc %}
<li class="resource-item">
  <small><span class="label label-default" title="application/zip">APPLICATION/DOC</span></small>
  <a class="heading" href="{{ article.link_doc }}">
    {% trans %}Document{% endtrans %}
  </a>
  <div class="actions pull-left hidden-sm hidden-xs">
      <a href="{{ article.link_doc }}" class="btn btn-primary btn-xs" role="button" target="_blank">
        <i class="fa fa-arrow-circle-o-down"></i> {% trans %}Download{% endtrans %}
      </a>
  </div>
</li>
{% endif %}
{% if article.link_ppt %}
<li class="resource-item">
  <small><span class="label label-default" title="application/zip">APPLICATION/PPT</span></small>
  <a class="heading" href="{{ article.link_ppt }}">
    {% trans %}Presentation{% endtrans %}
  </a>
  <div class="actions pull-left hidden-sm hidden-xs">
      <a href="{{ article.link_ppt }}" class="btn btn-primary btn-xs" role="button" target="_blank">
        <i class="fa fa-arrow-circle-o-down"></i> {% trans %}Download{% endtrans %}
      </a>
  </div>
</li>
{% endif %}
