<!-- Beta notice -->
<div class="alert-floating">
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<a href="https://github.com/opendata-swiss/ogd-handbook-wiki/issues" target="_blank">
			<b>BETA</b> -
			{% trans %}This is a newly released website: click here to report issues{% endtrans %}
		</a>
	</div>
</div>

<nav class="navbar navbar-default" id="main-navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="lang-{{ DEFAULT_LANG }} navbar-brand" href="/{{ DEFAULT_LANG }}/pages/index">
				<img src="/theme/ogdch/handbook_logo.svg" class="navbar-brand-image hidden-xs hidden-sm" title="handbook.opendata.swiss" />
				<img src="/theme/ogdch/handbook_horizontal.svg" class="navbar-brand-image hidden-md hidden-lg" title="handbook.opendata.swiss" />
			</a>
		</div>

		<div class="collapse navbar-collapse" id="main-navigation-collapse" role="navigation">

			<div class="lang-{{ DEFAULT_LANG }} menu-mainnavigation-en-container"><ul id="menu-mainnavigation-en" class="nav navbar-nav navbar-right">
				<li id="menu-item-238" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238">
					<a href="/{{ DEFAULT_LANG }}/category/identify">{% trans %}Identify{% endtrans %}</a>
				</li>
				<li id="menu-item-239" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239">
					<a href="/{{ DEFAULT_LANG }}/category/establish">{% trans %}Establish{% endtrans %}</a>
				</li>
				<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287">
					<a href="/{{ DEFAULT_LANG }}/category/publish">{% trans %}Publish{% endtrans %}</a>
				</li>
				<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
					<a href="/{{ DEFAULT_LANG }}/category/support">{% trans %}Support{% endtrans %}</a>
				</li>
				<li id="menu-item-237" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237">
					<a href="http://ogdch.begasoft.ch/"><span class="logo-color">opendata</span>.swiss</a></li>
			</ul></div><!-- /.menu-mainnavigation-en-container -->

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
