{% macro translations_for(category) %}
	{% if category|trim|lower == "identify" %}
		{% trans %}Identify{% endtrans %}
	{% elif category|trim|lower == "prepare" %}
		{% trans %}Prepare{% endtrans %}
	{% elif category|trim|lower == "publish" %}
		{% trans %}Publish{% endtrans %}
	{% elif category|trim|lower == "support" %}
		{% trans %}Support{% endtrans %}
	{% elif category|trim|lower == "library" %}
		{% trans %}Library{% endtrans %}
	{% else %}
		{{ category }}
	{% endif %}
{% endmacro %}

{% macro next_category(category) -%}
	{% if category|trim|lower == "identify" %}
		Prepare
	{% elif category|trim|lower == "prepare" %}
		Publish
	{% elif category|trim|lower == "publish" %}
		Support
	{% elif category|trim|lower == "support" %}
		Identify
	{% else %}
		{{ category }}
	{% endif %}
{% endmacro -%}

{% macro subheading_for(category) -%}
	{% if category|trim|lower == "identify" %}
		{% trans %}data for opening{% endtrans %}
	{% elif category|trim|lower == "prepare" %}
		{% trans %}legal foundations{% endtrans %}
	{% elif category|trim|lower == "publish" %}
		{% trans %}as open data{% endtrans %}
	{% elif category|trim|lower == "support" %}
		{% trans %}and promote usage{% endtrans %}
	{% endif %}
{% endmacro -%}

{% macro leads_for(category) -%}
	{% if category|trim|lower == "identify" %}
		{% trans %}In order to publish OGD, you need to know which data are suitable. This chapter will help you select the right datasets and advise you on what you need to check.{% endtrans %}
	{% elif category|trim|lower == "prepare" %}
		{% trans %}During the first phase, you identified the data that you want to publish as OGD. Before preparing the data technically for publication, you must establish under what conditions the datasets can be used. This chapter contains a simple diagram to help you select the right conditions of use.{% endtrans %}
	{% elif category|trim|lower == "publish" %}
		{% trans %}opendata.swiss is the central point of access to Swiss Open Government Data (OGD). This section explains how to publish your data on opendata.swiss.{% endtrans %}
	{% elif category|trim|lower == "support" %}
		{% trans %}By publishing your data on opendata.swiss you’ve completed the most important step. However, users will have questions about the data and require support. Here you will find an overview of the most frequently asked questions about published OGD. Please note: This chapter is still a work in progress. Contact us if you would like to suggest content.{% endtrans %}
	{% endif %}
{% endmacro -%}

{% macro icon_for(category) -%}
	{% if category|trim|lower == "identify" %}
		<i class="fa fa-dot-circle-o"></i>
	{% elif category|trim|lower == "prepare" %}
		<img src="/theme/ogdch/icon-white-prepare.png">
		<!--<i class="fa fa-institution"></i>-->
	{% elif category|trim|lower == "publish" %}
		<img src="/theme/ogdch/icon-white-publish.png">
		<!--<i class="fa fa-share-alt"></i>-->
	{% elif category|trim|lower == "support" %}
		<i class="fa fa-comments"></i>
	{% endif %}
{% endmacro -%}
